<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
  <test thread-count="5" name="test1">
  <parameter name="browserName" value="chrome" />
    <classes>
      <class name="seliniumGridUsingDocker.ParallelTest"/>
    </classes>
  </test> <!-- ParallerTestExecution -->
  
  <test thread-count="5" name="test2">
  <parameter name="browserName" value="firefox"/>
    <classes>
      <class name="seliniumGridUsingDocker.ParallelTest"/>
    </classes>
  </test> <!-- ParallerTestExecution -->
  
  <test thread-count="5" name="test3">
  <parameter name="browserName" value="edge"/>
    <classes>
      <class name="seliniumGridUsingDocker.ParallelTest"/>
    </classes>
  </test> <!-- ParallerTestExecution -->
</suite> <!-- Suite -->
